@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #25272e;
}
header{
  background: #fff;
  padding: 20px;
}
header h1{
  color: #25272e;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
.score-board{
  margin: 30px 500px;
  border: 3px solid #fff;
  border-radius: 4px;
  text-align: center;
  width: 200px;
  color: #fff;
  font-size: 46px;
  padding: 15px 20px;
  font-family: 'Indie Flower', cursive;
  position: relative;
}
.badge{
  background: #e25840;
  color: #fff;
  font-size: 14px;
  padding: 2px 10px;
  font-family: 'Indie Flower', cursive;
}
#user-label{
  position: absolute;
  top: 30px;
  left: -25px;
}
#computer-label{
  position: absolute;
  top: 30px;
  right: -25px;
}
.result{
  font-size: 40px;
  color: #fff;
}
.result p{
  text-align: center;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
}